body{
    width:90%;
    max-width:90%;
    margin:auto;
    background-color: lightskyblue; width:100%;  margin:auto;
}

h1{
    alignment: center;
    font-size: xx-large;
    font-family: "Comic Sans MS";
    color: #000080;

}

#menu ul{
    list-style-type: none;
    border: 2px solid #000;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: darkorange;
    font-size: xx-large;
    font-family: "Comic Sans MS";
    color: navy;
;
}

#menu li{
    float: left;
}

#menu li a{
    display: block;
    color: navy;
    text-align: left;
    padding: 0px 140px;
    text-decoration: black;
}

#menu li a:hover{
    background-color: aqua;
}

#menu .active{
    background-color: aquamarine;
}